<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--css file link-->
    <link th:href="@{/product.css}" rel="stylesheet" >

</head>
<body>
<!--strting header section-->
<header>
    <nav class="navbar">
        <img class="logo" src="../static/infinity.png"
             th:src="@{infinity.png}"/>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/new_reservation}">Reservation</a></li>
            <li><a th:href="@{/product_list}">Order now</a></li>
            <li><a href="#foot">Contact us</a></li>
        </ul>
        <div class="icon"><i class="fas fa-bars" id="menu-bars"></i></div>
    </nav>

</header>
<!--ending header section-->

<section class="dishes" id="dishes">
    <div class="logged account">
    <h4>Welcome <span>[[${#request.remoteUser}]]</span></h4>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="logout">
    </form>

    <table style="width: 100%">
    <tr th:each="product : ${listProduct}">
    <div class="box-container" style="display: inline-block">
        <div class="box">
            <h3><span th:text="${product.name}"></span></h3>

            <img
                  th:src="@{${product.url}}" alt="Cheetah!"/>
            <!--
            <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aHVtYW58ZW58MHx8MHx8&w=1000&q=80"
                 alt="Cheetah!" />

            <img  src="../static/prod.jpg"
                  th:src="@{prod.jpg}"/>    -->
            <div>
                <h2>Rs <span th:text="${product.price}"></span></h2>
                <h2><span th:text="${product.description}"></span></h2>
                <!---  <a th:href="@{/sendEmail/{id} (id=${#request.remoteUser})}" class="btn">Order</a>-->
                   <a th:href="@{/sendBillEmail/{id}/{price}/{name} (id=${#request.remoteUser},price = ${product.price} ,name = ${product.name}) }" class="btn">Order</a>


                </div>
            </div>
        </div>
        </tr>
        </table>

    </section>


    <!--ending product section-->

<!--starting  footer section-->
<footer class="foot" id="foot">
    <div class="row">
        <div class="col">
            <h3>Social Media</h3>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="col">
            <h3>Address</h3>
            <p>Infinity Hotels,</p>
            <p>street adress,</p>
            <p>colombo,</p>
            <p>Sri lanka.</p>
            <p class="mail">infinityhotels@mail.com</p>
            <h4>+94 - 123456789</h4>
        </div>

        <div class="col">
            <h3>Links</h3>
            <ul>
                <li><a href=""></a>Home</li>
                <li><a href=""></a>reservation</li>
                <li><a href=""></a>order food</li>
                <li><a href=""></a>contact us</li>
            </ul>
        </div>
        <div class="col">
            <img class="footlogo" src="../static/infinity.png"
                 th:src="@{infinity.png}"/>

            <p class="logoPara">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book </p>
        </div>
    </div>
</footer>

<!--ending footer section-->




</body>
</html>